body {
    /*background-color: #f2e9dd;*/
    background-color: #fff3e0;
}
#view-source {
    position: fixed;
    display: block;
    right: 0;
    bottom: 0;
    margin-right: 45px;
    margin-bottom: 45px;
    z-index: 900;
}
@media only screen and (min-width: 1200px) {
    .nav-wrapper {
        padding: 0em 22em;
    }
}
#map {
    height: 25rem;
    width: 100%;
}
.card {
    display: block;
}
.card .card-title {
    text-shadow: 0px 3px 30px rgba(0, 0, 0, 1);
}
.card .card-content {
    padding: 12px 12px;
}
.card .card-image .card-title {
    padding: 12px 12px;
    width: 100%;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);
}
#sideNavLogo {
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
#sideNavLogo a:hover {
  background-color: white;
}

#transparentNav {
    background-color: rgba(0, 0, 0, 0);
}
h3 {
}
.adv {
    padding-top: 50px;
    padding-bottom: 50px;
    /*background-color: #ff6659;*/
}
.adv p {
    font-size: 15px;
}
.dani {
    /*background-color: white;*/
    margin-bottom: 1rem;
}
/*nav bar settings*/


#langEn {
    height: 20px;
}
.language {
    display: inline-block;
}
#language {
    margin-top: 0;
    margin-bottom: 0;
}
#language li {
  margin-left: 15px;
  margin-right: 15px;
}

/*.dani p {
  border-top: 1px solid rgba(160,160,160,0.2);
}*/
.dani {
  border-left: 1px solid rgba(160,160,160,0.2);
  border-right: 1px solid rgba(160,160,160,0.2);
}

#gform {
  padding: 1em 1em;
}


#testimonial {
  min-height: 500px;
  width: 100%;
  /*background-color: #3A3E64;*/
}

#footer {
  margin-top: 0;
}


.hero {
  background-image: url(../assets/Untitled-2-compressor.png);
  height: 50vh;
  width: 100%;
  background-position: center;
}

@media only screen and (max-width: 500px) {
  .hero {
    height: 75vh;
  }
}

h1  {
  font-size: 3.5rem;
  text-shadow: 0px 0px 30px rgba(0, 0, 0, 1);
}

h2  {
  font-weight: 300;
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
  text-align: center;
}

ul.side-nav ul.collapsible-accordion a.collapsible-header {
    padding: 0 30px;
}
